<div id="admin-index">

  <div class="container">
    <h1 class="text-center">Admin Options</h1>
    <div class="admin-index-container">
      <hr/>
      <a href="/admin/new-category">Add New Category</a>
      <a href="/admin/new-status">Add New Ticket Status</a>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
