<div id="new-category" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/admin/new-category.less</em>, <em>assets/js/pages/admin/new-category.page.js</em>, and <em>api/controllers/admin/view-new-category.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
